h4 {
  padding: 10px 0px;
}

.app__welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: -50px 0px 100px 0px; /* adjusts effects from positioning Header */
}

.app__welcome-subheading {
  display: flex;
  flex-direction: column;
}

.app__welcome-subheading p {
  width: 500px;
  line-height: 30px;
}

.app__welcome-beer img {
  width: 150px;
  margin-right: 10vw;
}

.app__address {
  font-family: var(--font-alt);
  font-size: 32px;
}

/* Medium and Small Devices */

@media screen and (max-width: 800px) {
  .app__welcome-section {
    flex-direction: column;
  }

  .app__welcome-beer img {
    margin-bottom: 100px;
  }

  .app__welcome-subheading p {
    width: 80vw;
  }
}
