a {
  text-decoration: none;
  position: relative;
}

.app__navbar {
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 10;
}

.app__navbar-change {
  background-color: var(--color-black);
}

.app__navbar-shrink-image {
  animation: shrink 275ms ease-in-out forwards;
}

.app_navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app__navbar-logo img {
  width: 150px;
}

.app__navbar-links {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.app__navbar-links li {
  font-family: var(--font-base);
  margin: 0 1rem;
}

.app__navbar-links li a {
  color: var(--color-white);
}


/* underline links */
.app__navbar-links a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--color-golden);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.app__navbar-links a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.app__navbar-smallscreen {
  display: none;
}

.app__navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.92);
  flex-direction: column;
  z-index: 5;
}

.app__navbar-smallscreen_overlay .overlay__close {
  font-size: 27px;
  color: var(--color-golden);
  cursor: pointer;
  position: absolute;
  top: 80px;
  right: 35px;
}

.app__navbar-smallscreen-links li {
  list-style-type: none;
  color: var(--color-golden);
  text-align: center;
  padding: 20px 0px;
}

.app__navbar-smallscreen-links li a {
  color: var(--color-golden);
}

.app__navbar-smallscreen-links li a:hover {
  color: var(--color-white);
}

/* Medium to Large Screens */
@media screen and (max-width: 1150px) {
  .app__navbar-links {
    display: none;
  }

  .app__navbar-smallscreen {
    display: flex;
  }
}

/* Small Screens */ 
@media screen and (max-width: 650px) {
  /* Two columned grid */
  .app__navbar {
    position: relative;
    display: grid;
    place-items: center;
    grid-template-columns: auto auto;
    margin: -22px 0px;
  }

  .app__navbar-change {
    background: transparent;
  }

  /* Expands first column by two sizes */
  /* Creates a "triangle" formation: logo is on top of button and hamburger*/
  .app__navbar-logo {
    grid-column: 1 / span 2;
  }

  /* Positions overlay symbol closer */
  .app__navbar-smallscreen_overlay .overlay__close {
    top: 55px;
    right: 20px;
  }
}

@keyframes shrink {
  to {
    transform: scale(0.7);
  }
}